/* Basic styling for the body */ 

/* Container for the header section */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #ece0d1;
    padding: 20px;  
    color: #693f21 ; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 380px; 
} 

.topBar {
    display: flex;
    align-items: center; 
}

/* Logo styling */
.logo {
    width: 50px;
    /* Adjust size of logo */
    height: 50px;
    margin-right: 15px;
}

/* Main title for coffee name */
.coffeeName {
    font-size: 29px;
    font-weight: bold;
}

.logoutP {
    margin-right: 10px; 
    cursor: pointer;
    margin-left: auto;
} 

.active {
    color: #a16c01;
    text-decoration: underline;
}

/* Container for Menu and Promotions */
.vouchers {
    display: flex;
    justify-content: space-between;
    margin: 20px;
} 

.option {
    padding: 11px; 
}

.option nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px 80px;
    background-color: #ffffff;
    justify-content: left;
    gap: 40px;
}

.option nav ul li a {
    text-decoration: none;
    color: #624531;
    font-weight: bold;
}
 